<div class="container">
  <div class="row">
    <!-- list-single-main-item -->
    <div class="list-single-main-item fl-wrap" id="sec15">
      <div class="list-single-main-item-title fl-wrap">
        <h1>Voulez-vous nous contacter ?</h1>
        <h6>Veillez renseigner les informations ci-dessous et soumettre</h6>
      </div>
      <!-- Add Review Box -->
      <div id="add-review" class="add-review-box">
        <!-- Review Comment -->
        <form class="add-comment custom-form">
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <label>Votre nom* <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                <input name="phone" type="text" onClick="this.select()" value="">
              </div>
              <div class="col-md-6">
                <label>Votre email* <span class="dec-icon"><i class="fas fa-envelope"></i></span></label>
                <input name="reviewwname" type="text" onClick="this.select()" value="">
              </div>
            </div>
            <textarea cols="40" rows="3" placeholder="Votre message..."></textarea>
          </fieldset>
          <button class="btn big-btn color-bg float-btn">Soumettre <i class="fa fa-paper-plane-o"
                                                                          aria-hidden="true"></i></button>
        </form>
      </div>
      <!-- Add Review Box / End -->
    </div>
    <!-- list-single-main-item end -->
  </div>
</div>
