
    <!-- main -->
    <div id="main">
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content -->
            <div class="dashboard-content">
                <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                <div class="container dasboard-container">
                    <!-- dashboard-title -->

                        <app-bar-profile [tilte]="tilte"></app-bar-profile>

                    <!-- dashboard-title end -->
                    <div class="dasboard-wrapper fl-wrap">
                        <div class="dasboard-widget-title fl-wrap">
                            <h5><i class="fal fa-comments-alt"></i>Messages recus<span> ( +20 ) </span></h5>
                            <a href="#" class="mark-btn  tolt" data-microtip-position="bottom" data-tooltip="Mark all as read"><i class="far fa-comment-alt-check"></i> </a>
                        </div>
                        <div class="dasboard-widget-box fl-wrap">
                            <div class="dasboard-opt fl-wrap">
                                <!-- price-opt-->
                                <div class="price-opt">
                                    <span class="price-opt-title">Afficher par:</span>
                                    <div class="listsearch-input-item">
                                        <select data-placeholder="Lastes" class="nice-select-perso" >
                                            <option>Lastes</option>
                                            <option>Oldes</option>
                                            <option>Average rating</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- price-opt end-->
                            </div>
                            <!-- reviews-comments-item -->
                            <div class="reviews-comments-item">
                                <div class="review-comments-avatar">
                                    <img src="assets/images/avatar/1.jpg" alt="">
                                    <div class="review-notifer">Nouveau</div>
                                </div>
                                <div class="reviews-comments-item-text smpar">
                                    <h4>Liza Rose <span>For Luxury Family Home </span></h4>
                                    <div class="clearfix"></div>
                                    <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                      Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                      vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                                      Nullam dictum felis eu pede mollis pretium. "</p>
                                    <div class="reviews-comments-item-date">
                                      <span class="reviews-comments-item-date-item"><i class="far fa-calendar-check"></i>12 April 2020</span>
                                    </div>
                                </div>
                            </div>
                            <!--reviews-comments-item end-->
                            <!-- reviews-comments-item -->
                            <div class="reviews-comments-item">
                                <div class="review-comments-avatar">
                                    <img src="assets/images/avatar/1.jpg" alt="">
                                    <div class="review-notifer">Nouveau</div>
                                </div>
                                <div class="reviews-comments-item-text smpar">
                                    <h4>Adam Koncy <span>Kayak Point House</span></h4>
                                    <div class="clearfix"></div>
                                    <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus.
                                      Cras metus neque, gravida sodales massa ut. "</p>
                                    <div class="reviews-comments-item-date">
                                      <span class="reviews-comments-item-date-item"><i class="far fa-calendar-check"></i>03 December 2019</span>
                                    </div>
                                </div>
                            </div>
                            <!--reviews-comments-item end-->
                            <!-- reviews-comments-item -->
                            <div class="reviews-comments-item">
                                <div class="review-comments-avatar">
                                    <img src="assets/images/avatar/1.jpg" alt="">
                                </div>
                                <div class="reviews-comments-item-text smpar">

                                    <h4>Mark Rose <span>For Gorgeous House For Sale </span></h4>
                                    <div class="clearfix"></div>
                                    <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                      Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                      arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
                                    <div class="reviews-comments-item-date">
                                      <span class="reviews-comments-item-date-item"><i class="far fa-calendar-check"></i>06 December 2018</span>
                                    </div>
                                </div>
                            </div>
                            <!--reviews-comments-item end-->
                        </div>
                        <!-- pagination-->
                        <div class="pagination float-pagination">
                            <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                            <a href="#" >1</a>
                            <a href="#" class="current-page">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                        </div>
                        <!-- pagination end-->
                    </div>
                </div>
                <!-- dashboard-footer -->
                <div class="dashboard-footer">
                    <div class="dashboard-footer-links fl-wrap">
                        <span>Helpfull Links:</span>
                        <ul>
                            <li><a href="about.html">About  </a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="pricing.html">Pricing Plans</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="help.html">Help Center</a></li>
                        </ul>
                    </div>
                    <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
                </div>
                <!-- dashboard-footer end -->
            </div>
            <!-- content end -->
            <div class="dashbard-bg gray-bg"></div>
        </div>
        <!-- wrapper end -->
    </div>
