    <!-- main -->
    <div id="main">
        <!-- header -->
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content -->
            <div class="dashboard-content">
                <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                <div class="container dasboard-container">
                    <!-- dashboard-title -->
                    <app-bar-profile [tilte]="tilte"></app-bar-profile>
                    <!-- dashboard-title end -->
                    <!-- dasboard-wrapper-->
                    <div class="dasboard-wrapper fl-wrap no-pag">
                        <div class="row">
                            <div class="col-md-7">
                                <!--<div class="dasboard-widget-title fl-wrap">
                                    <h5><i class="fas fa-user-circle"></i>Change Avatar</h5>
                                </div>
                                <div class="dasboard-widget-box nopad-dash-widget-box fl-wrap">
                                    <div class="edit-profile-photo">
                                        <img src="images/avatar/1.jpg" class="respimg" alt="">
                                        <div class="change-photo-btn">
                                            <div class="photoUpload">
                                                <span>  Upload New Photo</span>
                                                <input type="file" class="upload">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-wrap bg-parallax-wrap-gradien">
                                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                    </div>
                                    <div class="change-photo-btn cpb-2  ">
                                        <div class="photoUpload color-bg">
                                            <span> <i class="far fa-camera"></i> Change Cover </span>
                                            <input type="file" class="upload">
                                        </div>
                                    </div>
                                </div>-->
                                <div class="dasboard-widget-title fl-wrap">
                                    <h5><i class="fas fa-key"></i>Informations personnelles</h5>
                                </div>
                                <div class="dasboard-widget-box fl-wrap">
                                    <div class="custom-form">

                                        <label>Nom <span class="dec-icon"><i class="far fa-user"></i></span></label>
                                        <input type="text" placeholder="Alica" value=""/>

                                        <label>Prenom <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                                        <input type="text" placeholder="Noory" value=""/>

                                        <label>Adresse email <span class="dec-icon"><i class="far fa-envelope"></i></span></label>
                                        <input type="email" placeholder="AlicaNoory@domain.com" value=""/>

                                        <label>Telephone<span class="dec-icon"><i class="far fa-phone"></i> </span></label>
                                        <input type="text" placeholder="+7(123)987654" value=""/>

                                        <label>Adresse <span class="dec-icon"><i class="fas fa-map-marker"></i> </span></label>
                                        <input type="text" placeholder="USA 27TH Brooklyn NY" value=""/>

                                        <label>Site web <span class="dec-icon"><i class="far fa-globe"></i> </span></label>
                                        <input type="text" placeholder="themeforest.net" value=""/>

                                        <label>Notes </label>
                                        <textarea cols="40" rows="3" placeholder="A propos de moi" style="margin-bottom:20px;"></textarea>

                                        <button class="btn    color-bg  float-btn">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="dasboard-widget-title fl-wrap blue-bg">
                                    <h5><i class="fas fa-share-alt"></i>Vos reseaux sociaux</h5>
                                </div>
                                <div class="dasboard-widget-box fl-wrap">
                                    <div class="custom-form">
                                        <label>Facebook  <span class="dec-icon"><i class="fab fa-facebook"></i></span></label>
                                        <input type="text" placeholder="https://www.facebook.com/" value=""/>
                                        <label>Twitter <span class="dec-icon"><i class="fab fa-twitter"></i></span></label>
                                        <input type="text" placeholder="https://twitter.com/" value=""/>
                                        <label>Instagram<span class="dec-icon"><i class="fab fa-instagram"></i>  </span></label>
                                        <input type="text" placeholder="https://www.instagram.com/" value=""/>
                                        <button class="btn    color-bg  float-btn">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- dasboard-wrapper end -->
                </div>

            </div>

            <!-- content end -->
            <div class="dashbard-bg gray-bg"></div>

        </div>
        <!-- wrapper end -->

    </div>

