<div class="content">
    <!-- dashbard-menu-wrap -->
<div class="dashbard-menu-overlay"></div>
<div class="dashbard-menu-wrap">
    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
    <div class="dashbard-menu-container">
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Main</h3>
            <ul class="no-list-style">
                <li><a href="/user/dashboard"  activeRouteTransforme><i class="fal fa-chart-line"></i> Tableau de bord </a></li>
                <li><a href="/user/add-service" activeRouteTransforme><i class="fal fa-user-edit"></i> Poster un service </a></li>
                <li><a href="/user/listing-post" activeRouteTransforme><i class="fal fa-users"></i> Mes postes </a></li>
            </ul>
        </div>
        <div class="user-profile-menu">
            <h3>Mon compte</h3>
            <ul  class="no-list-style">
                <li><a href ="/user/edite-profile" activeRouteTransforme><i class="fal fa-th-list"></i> Mon profile  </a></li>
                <li><a href="/user/change-password" activeRouteTransforme> <i class="fal fa-calendar-check"></i> Changer mon de passe </a></li>
            </ul>
        </div>
        <!-- user-profile-menu end-->
        <div class="user-profile-menu">
            <h3>administrateur</h3>
            <ul  class="no-list-style">
                <li><a href="user/dashboard" activeRouteTransforme><i class="fal fa-chart-line"></i> Tour de controle </a></li>
                <li><a href="/user/agent" activeRouteTransforme><i class="fal fa-th-list"></i> Abonnes  </a></li>
                <li><a href="/user/reviews" activeRouteTransforme> <i class="fal fa-calendar-check"></i> Contater nous <span>3</span></a></li>
            </ul>
        </div>
    </div>
    <div class="dashbard-menu-footer">© Arnold Kouasseu 2022 .  All rights reserved.</div>
</div>
<!-- dashbard-menu-wrap end  -->
</div>
