<div>
  <!-- header -->
  <header class="main-header">
    <!--  logo  -->
    <div class="logo-holder"><a href="/home"><img src="assets/images/logo.png" alt=""></a></div>
    <div class="row">
      <div class="show-reg-form flow-icon">
        <a href="/home"><i class="fas fa-home"></i><span>Accueil</span></a>
      </div>
      <div class="show-reg-form flow-icon">
        <a href="/contact-nous"><i class="fas fa-phone"></i><span>Contacter nous</span></a>
      </div>
      <div class="show-reg-form flow-icon">
        <a href="/register-user"><i class="fas fa-user"></i><span>Connectez-vous</span></a>
      </div>
      <div class="add-list_wrap flow-icon">
        <a href="/user/dashboard" class="add-list color-bg" style="margin-left: 10px">
          <span style="font-size: 14px;">Mon espace</span>
        </a>
      </div>
    </div>

  </header>
</div>
