<div class="box-widget fl-wrap">
  <div class="box-widget-fixed-init fl-wrap" id="sec-contact">
    <div class="box-widget-title fl-wrap box-widget-title-color color-bg">Contacter le proprietaire du post</div>
    <div class="box-widget-content fl-wrap">
      <div class="custom-form">
        <form method="post"  name="contact-property-form">
          <div>
            <label>Votre nom* <span class="dec-icon"><i class="fas fa-user"></i></span></label>
            <input   name="phone" type="text" value="">
          </div>

          <div>
            <label>Votre téléphone* <span class="dec-icon"><i class="fas fa-phone"></i></span></label>
            <input   name="phone" type="text" value="">
          </div>

          <div>
            <label>Votre e-mail* <span class="dec-icon"><i class="fas fa-envelope"></i></span></label>
            <input   name="email" type="email" value="">
          </div>

          <div>
            <label>Votre message*</label>
            <textarea cols="40" rows="3" placeholder="Votre message"></textarea>
          </div>
          <button type="submit" class="btn float-btn color-bg fw-btn"> Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>
