   <!-- main -->
    <div id="main">
        <!-- wrapper  -->
        <div id="wrapper">
            <!-- content -->
            <div class="dashboard-content">
                <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                <div class="container dasboard-container">
                    <!-- dashboard-title -->
                        <app-bar-profile [tilte]="tilte"></app-bar-profile>
                    <!-- dashboard-title end -->
                    <div class="dasboard-wrapper fl-wrap no-pag">

                        <div class="dasboard-widget-title fl-wrap" id="sec1">
                            <h5><i class="fas fa-info"></i>Informations de base du service</h5>
                        </div>
                        <div class="dasboard-widget-box fl-wrap">
                            <div class="custom-form">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Titre du poste  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                        <input type="text" placeholder="Nom de votre business" value=""/>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Type</label>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="All Types" class="nice-select-perso" >
                                                <option>Choisir...</option>
                                                <option>Gratuit</option>
                                                <option>Payant</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Montant  <span class="dec-icon"><i class="far fa-money-bill-wave"></i></span></label>
                                        <input type="text" placeholder="Montant de votre service" value=""/>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Categories</label>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="Apartments" class="nice-select-perso" >
                                                <option>Choisir...</option>
                                                <option>House</option>
                                                <option>Apartment</option>
                                                <option>Hotel</option>
                                                <option>Villa</option>
                                                <option>Office</option>
                                                <option>Autre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>Mots cles  <span class="dec-icon"><i class="far fa-key"></i></span></label>
                                        <input type="text" placeholder="15 au maximum, séparés par des virgules" value=""/>
                                    </div>
                                  <div class="col-sm-12">
                                    <label>Description du service</label>
                                    <angular-editor></angular-editor>
                                  </div>
                                </div>
                            </div>
                        </div>

                      <div>
                        <div class="dasboard-widget-title dwb-mar fl-wrap">
                          <h5><i class="fas fa-image"></i>Information sur le proprietaire du service</h5>
                        </div>
                        <div class="dasboard-widget-box   fl-wrap">
                          <div class="custom-form">
                            <div class="listsearch-input-item fl-wrap">
                              <div class="row">
                                <div class="col-sm-6">
                                  <label>Nom complet <span class="dec-icon"><i class="far fa-envelope"></i></span>  </label>
                                  <input type="text" placeholder="Modjo mozart" value=""/>
                                </div>
                                <div class="col-sm-6">
                                  <label>Adresse email <span class="dec-icon"><i class="far fa-envelope"></i></span>  </label>
                                  <input type="email" placeholder="JessieManrty@domain.com" value=""/>
                                </div>
                                <div class="col-sm-6">
                                  <label>Telephone <span class="dec-icon"><i class="far fa-phone"></i> </span> </label>
                                  <input type="text" placeholder="+7(123)987654" value=""/>
                                </div>
                                <div class="col-sm-6">
                                  <label> Site web <span class="dec-icon"><i class="far fa-globe"></i> </span> </label>
                                  <input type="text" placeholder="themeforest.net" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec2">
                            <h5><i class="fas fa-street-view"></i>Localisation du service</h5>
                        </div>
                        <!-- dasboard-widget-title end -->
                        <!-- dasboard-widget-box  -->
                        <div class="dasboard-widget-box   fl-wrap">
                            <div class="custom-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Addresse <span class="dec-icon"><i class="far fa-map-marker"></i></span></label>
                                        <input type="text" placeholder="Address of your business" value=""/>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Longitude (Drag marker on the map)  <span class="dec-icon"><i class="far fa-long-arrow-alt-right"></i></span></label>
                                        <input type="text" id="long" placeholder="Map Longitude" value=""/>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Latitude (Drag marker on the map)<span class="dec-icon"><i class="far fa-long-arrow-alt-down"></i> </span></label>
                                        <input type="text" id="lat" placeholder="Map Latitude" value=""/>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="map-container">
                                    <div id="singleMap" class="drag-map" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- dasboard-widget-box  end-->
                        <!-- dasboard-widget-title -->


                        <div>
                          <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">
                            <h5><i class="fas fa-image"></i>Image de profile du service</h5>
                          </div>
                          <div class="dasboard-widget-box   fl-wrap">
                            <div class="custom-form">
                              <div class="listsearch-input-item fl-wrap">
                                <form class="fuzone">
                                  <div class="fu-text">
                                    <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                  </div>
                                  <input type="file" class="upload" multiple>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>


                      <div>
                        <div class="dasboard-widget-title dwb-mar fl-wrap">
                          <h5><i class="fas fa-image"></i>Images service</h5>
                        </div>
                        <div class="dasboard-widget-box fl-wrap">
                          <div class="custom-form">
                            <div class="row">
                              <div class="col-sm-4">
                                <label>Image 1</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label>Image 2</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label>Image 3</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label>Image 4</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label>Image 5</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <label>Image 6</label>
                                <div class="listsearch-input-item fl-wrap">
                                  <form class="fuzone">
                                    <div class="fu-text">
                                      <span><i class="far fa-cloud-upload-alt"></i> Cliquez ici ou déposez les fichiers pour les télécharger</span>
                                      <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" class="upload">
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <!-- dasboard-widget-box  end-->
                        <a href="#" class="btn  color-bg float-btn">Enregistrer</a>
                    </div>
                </div>
                <div class="limit-box fl-wrap"></div>
            </div>
            <!-- content end -->
            <div class="dashbard-bg gray-bg"></div>
        </div>
        <!-- wrapper end -->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
