<div class="breadcrumbs fw-breadcrumbs smpar fl-wrap">
    <div class="container">
        <div class="breadcrumbs-list" style="width: 100%">
          <div class="row justify-content-between">
            <div class="col-sm-8">
              <a href="/user/dashboard"><i class="fal fa-chart-line"></i> Mon tableau de bord</a>
              <a href="/user/add-service"><i class="fal fa-user-edit"></i> Poster un service</a>
              <a href="/user/listing-post"><i class="fal fa-users"></i> Mes postes</a>
              <a href="/user/edite-profile"><i class="fal fa-th-list"></i> Mon profile</a>
              <a href="/user/change-password"><i class="fal fa-calendar-check"></i> Changer mot de passe</a>
            </div>
            <div class="col-sm-4">
              <a href="/user/dashboard"><i class="fal fa-calendar-check"></i> Tour de controle </a>
              <a href="/user/agent"><i class="fal fa-calendar-check"></i> Abonnes </a>
              <a href="/user/reviews"><i class="fal fa-comment-alt-lines"></i> Messages </a>
            </div>
          </div>
        </div>
    </div>
</div>