<div class="dashboard-title fl-wrap">
    <div class="dashboard-title-item"><span>{{tilte}}</span></div>
    <div class="dashbard-menu-header">
        <div class="dashbard-menu-avatar fl-wrap">
            <img src="assets/images/avatar/1.jpg" alt="">
            <h4>Bienvenue, <span>Arnold Kouasseu</span></h4>
        </div>
        <a href="home" class="log-out-btn tolt" data-microtip-position="bottom"  data-tooltip="Deconnexion"><i class="far fa-power-off"></i></a>
    </div>
    <!--Tariff Plan menu-->
    <!-- <div class="tfp-det-container">
        <div   class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
        <div class="tfp-det">
            <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
            <a href="#" class="tfp-det-btn color-bg">Details</a>
        </div>
    </div> -->
    <!--Tariff Plan menu end-->						
</div>